WpfAppClient/Service References/ServiceReference3/RemoteCompiler1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/RemoteCompiler?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RemoteCsharpCompiler" />
  <xs:element name="Compiler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompilerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RemoteCsharpCompiler" minOccurs="0" name="CompilerResult" nillable="true" type="q1:DataCompile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>